<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1"> <!--반응형 웹 만드는 코드-->

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-yellow.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/login.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

* {margin:0; padding:0; color:#666666;}

.laugh {
    text-align:center;
    height:81px;
    padding-top: 16px;
}
@media (max-width:680px) {
    .laugh{
        padding-top: 26px;
    }
}

.content {
    margin-top: 80px;
}
@media (max-width:600px) {
    .content{
        margin-top: 60px;
    }
}

.img-thumbnail {
    width:50px;
}
@media (max-width:680px) {
    .img-thumbnail {
        width:30px;
    }
}
</style>
<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

<script>
$(function(){
  $('.w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white').click(function(){
    $('.logmod').show();
  });
  $('.btn_hide').click(function(){
    $('.w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white').hide();
  });
});


</script>

<!-- Navbar -->
<div class="w3-top w3-margin-top:-10">
    <div style="display:inline-block" class="w3-bar w3-theme-d2 w3-left-align w3-large">

        </a>
        <div class="laugh">
                    <a href="#" class="w3-button w3-theme-d2" style="padding:0">
                <!--<i class="fa fa-home w3-margin-right"></i>-->
                    <img src="/static/smile.png" class="img-thumbnail" ></a>

            <strong>Foreign Laugh </strong>
        </div>
        <script>
      <!--function my_click() {location='/sign_in/'}-->


        </script>

    </div>


</div>

<!-- Navbar on small screens -->

<!-- The Grid -->
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
        <!-- Profile -->

        <br>

        <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7 content">







        {% for v in page_info %}
        <!--창을 클릭하면 바로 링크로 이어지게 하는 코드-->
        <div class="w3-container w3-card w3-white w3-round w3-margin" style="cursor:pointer;"
             onclick="location.href='{{v.url}}';"> <!--onclick="location.href={{board.content}}"-->
            <!--<span class="w3-right w3-opacity">1 min</span>-->
            <h4>{{v.title}}</h4>{{v.date|date:'Y-m-d'}}</h10>&nbsp;&nbsp;|&nbsp;<h10> {{v.homePage}} </h10><br>
        </div>
        {% endfor %}





        <div class="w3-center" style="cursor:pointer;">
        <div class="w3-bar w3-border ">
            {% if start_page >= 11 %}
                 <a href="/main/?page={{ prev_page }}" class="w3-bar-item w3-button">&laquo;</a>
            {% endif %}
            <!--django에서의 반복문 형식-->
            {% for i in page_list %}
                <a href="/main/?page={{ i }}" class="w3-bar-item w3-button">{{ i }}</a>
            {% endfor %}
            {% if end_page < page_info.paginator.num_pages %}
                <a href="/main/?page={{ next_page }}" class="w3-bar-item w3-button">&raquo;</a>
            {% endif %}






        </div>
        <!-- End Middle Column -->
    </div>

    <!-- End Grid -->
</div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d2 w3-padding-16">
    <h5>Advertising &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Seoung9 gag 보는 Geu nhak에 사나</h5>

</footer>

<footer class="w3-container w3-theme-d2">
        <div class="w3-center">
</footer>

<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else {
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}


</script>

</body>
</html>
